*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-container{
    position: relative;
}

.green-bar{
    height: 7rem;
    background-color: #429488;
}

.background{
    background-color: #D7DBD9;
    height: calc(100vh - 7rem);
}

.app-container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    height: 90vh;
    width: 80vw;
    min-width: 1000px;
}

/* sezione di sinisra con chat list */

.left-sec{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.my-profile-section{
    height: 11rem;
}

.my-profile{
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
}

.my-profile img{
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.my-profile div:first-of-type{
    flex-grow: 1;
    padding: 1rem
}

.my-profile .fas{
    padding: 0.3rem;
    color: #b1b1b1;
}

.my-profile .fas:last-of-type{
    padding: .3rem .7rem .3rem .3rem
}

.notification-setting{
    height: calc(5rem - 8px);
    background-color: #9FD8F8;
    display: flex;
    align-items: center;

}

.notification-setting .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #9FD8F8;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 1rem;
}

.notification-setting p{
    font-size: 0.8rem;
}

.notification-setting p:last-of-type{
    color: grey; 
    text-decoration: underline;
    font-size: 0.7rem;
}

.search{
    height: 2.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    border: 5px solid #fafafa;
}

.search .fas{
    padding: .5rem 1rem;
    color: #b1b1b1;
}

.search input{
    border: none;
    flex-grow: 1;
}

.chat-list{
    overflow-Y: scroll;
    flex-grow: 1;
}

.list-item{
    position: relative;
    display: flex;
    height: 5rem;
    background-color: white;
    border-top: 1px solid #eaeaea;
}

.list-item img{
    height: 3.5rem;
    border-radius: 50%;
    align-self: center;
    margin: 1rem;
}

.text-sec div{
    margin-top: .8rem;
}

.text-sec p{
    font-size: 0.6rem;
    color: #b1b1b1;
    position: absolute;
    left: 5.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.list-item .date{
    position: absolute;
    top: 0.5rem;
    right: 0.4rem;
    font-size: 0.6rem;
    color: #b1b1b1
}

.list-item:hover{
    background-color: #e9ebeb;
}


/* sezione di destra con chat  */


.open-chat{
    background-color: white;
    height: 100%;
    flex-grow: 5;
    overflow-Y: scroll;
}
