*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-container{
    position: relative;
}

.green-bar{
    height: 7rem;
    background-color: #429488;
}

.background{
    background-color: #D7DBD9;
    height: calc(100vh - 7rem);
}

.app-container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 90vh;
    width: 70vw;
    min-width: 900px;
    border-radius: .3rem;
    overflow: hidden;
}

/* sezione di sinisra con chat list */

.left-sec{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.my-profile-section{
    height: 11rem;
}

.my-profile{
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
}

.my-profile img{
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.my-profile div:first-of-type{
    flex-grow: 1;
    padding: 1rem
}

.my-profile .fas{
    padding: 0.3rem;
    color: #b1b1b1;
}

.my-profile .fas:last-of-type{
    padding: .3rem .7rem .3rem .3rem
}

.notification-setting{
    height: calc(5rem - 8px);
    background-color: #9FD8F8;
    display: flex;
    align-items: center;

}

.notification-setting .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #9FD8F8;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 1rem;
}

.notification-setting p{
    font-size: 0.8rem;
}

.notification-setting p:last-of-type{
    color: grey; 
    text-decoration: underline;
    font-size: 0.7rem;
}

.search{
    height: 2.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    border: 5px solid #fafafa;
}

.search .fas{
    padding: .5rem 1rem;
    color: #b1b1b1;
}

.search input{
    border: none;
    flex-grow: 1;
    padding-left: 1rem;

}

.chat-list{
    overflow-Y: scroll;
    flex-grow: 1;
}

.list-item{
    position: relative;
    display: flex;
    height: 5rem;
    background-color: white;
    border-top: 1px solid #eaeaea;
}

.list-item img{
    height: 3.5rem;
    border-radius: 50%;
    align-self: center;
    margin: 1rem;
}

.text-sec div{
    margin-top: .9rem;
}

.text-sec p{
    font-size: 0.6rem;
    color: #b1b1b1;
    position: absolute;
    left: 5.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.list-item .hour{
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    font-size: 0.6rem;
    color: #b1b1b1
}

.list-item:hover{
    background-color: #e9ebeb;
}

.active{
    background-color: #eaeaea;
}


/* sezione di destra con chat  */

.open-chat{
    background-color: white;
    flex-grow: 4;
}

.contact{
    display: flex;
    background-color: #eaeaea;
    height: 4rem;
    align-items: center;
    border-left: 1px solid #b1b1b1;
}

.contact img{
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.info{
    flex-grow: 1;
}

.info div{
    font-size: .9rem;
}

.info p{
    font-size: 0.7rem;
    color: #b1b1b1;
}

.contact .fas{
    margin: 0.4rem;
    color: #b1b1b1;
}

.contact .fas:last-of-type{
    margin: .4rem .7rem .4rem .4rem
}

.contact .fas:hover{
    cursor: pointer;
}

.messages{
    display: flex;
    flex-direction: column;
    height: calc(100% - 8rem);
    background: url(../img/mine.jpg);
    overflow-y: scroll;
}

.input-message{
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #F2EEEA;
}

.input-message .far,
.input-message .fas{
    font-size: 1.5rem;
    margin: 1rem 2rem;
    color: #6D7376;
}

.input-message .far:hover,
.input-message .fas:hover{
    cursor: pointer;
}

.input-message input{
    flex-grow: 1;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    padding-left: 1rem;
}


/* sezione messaggi */

.sent{
    width: 300px;
    background-color:#DCF8C0;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 3rem;
    align-self: end;
    position: relative;
    
}

.received{
    width: 300px;
    background-color: #F8F8F8;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 3rem;
    position: relative;
}

.messages .hour{
    position: absolute;
    bottom: .3rem;
    right: .3rem;
    font-size: 0.6rem;
    color: #b1b1b1;
}

.messages .fas{
    position: absolute;
    top: .3rem;
    right: .3rem;
    display: none;
}

#message:hover .fas{
    display: inline-block;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: -1rem;
    right: -1rem;
    height: 100px;
    width: 200px;
    background-color: white;
    visibility: hidden;
}

.showed{
    visibility: visible;
}

.dropdown-menu div{
    font-size: 0.8rem;
    padding: 1rem;
}

.dropdown-menu div:hover{
    background-color: #eaeaea;
}