<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="root-dark" class="">
    <div id="root" class="main-container">
        <div class="green-bar"></div>
        <div class="background"></div>
        <div class="app-container">
            <div class="left-sec">
                <div class="my-profile-section">
                    <div class="my-profile">
                        <img :src="'img/' + mainUser.img" alt="">
                        <div>{{mainUser.name}}</div>
                        <i v-if="dark == false"@click="toggleDark()"class="fas fa-toggle-off"></i>
                        <i v-else @click="toggleDark()"class="fas fa-toggle-on"></i>
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="notification-setting">
                        <div class="icon">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="">
                            <p>Ricevi notiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="search">
                        <i class="fas fa-search"></i>
                        <input type="text" v-model="search" placeholder="Cerca o inizia una nuova chat" >
                    </div>
                </div>
                <div class="chat-list">
                    <div v-for="(chat, index) in filteredChats "@click="i = index" :class=" index == i ? 'active' : '' " class="list-item">
                        <img :src="'img/' + chat.contact.img" alt="">
                        <div class="text-sec">
                            <div>{{chat.contact.name}}</div>
                            <p v-if="chat.messages[0] != true">{{chat.messages[chat.messages.length - 1].text}}...</p>
                        </div>
                        <div class="hour">{{chat.messages[chat.messages.length - 1].date}}</div>
                    </div>
                </div>
            </div>

<!-- sezione chat aperta -->

            <div class="open-chat">
                <div class="contact">
                    <img :src="'img/' + chats[i].contact.img" alt="">
                    <div class="info">
                        <div>{{chats[i].contact.name}}</div>
                        <p>ultimo accesso {{chats[i].messages[chats[i].messages.length-1].date}}</p>
                    </div>
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="messages">
                    <div id="message" v-for="(message, index) in chats[i].messages" :class="message.sent == true ? 'sent' : 'received'">{{message.text}}
                        <div class="hour">{{message.date}}</div>
                        <i @click="message.clicked = true " class="fas fa-chevron-down"></i>
                        <div :class="message.clicked == true ? 'showed' : ''"class="dropdown-menu">
                            <div class="btn" @click="deleteMessage(index)" >Cancella messaggio</div>
                            <div @click="message.clicked = false">Info messaggio</div>
                        </div>
                    </div>
                </div>
                <div class="input-message">
                    <i class="far fa-smile"></i>
                    <input @keyup.enter="addMessage" v-model="newMessage.text" type="text" placeholder="Scrivi un messaggio" >
                    <i v-if= "newMessage.text == ''" class="fas fa-microphone"></i>
                    <i v-else @click="addMessage" style="font-size: 1rem;"class="fas fa-paper-plane"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>